@using System.Threading.Tasks
@using Dev_Assignment1.Models
@model List<Employee>
@{
    ViewData["Title"] = "Employee info";
}

<h2>@ViewData["Title"].</h2>

<table class="hovertable">
    <tr>
        <th>Employee ID</th>
        <th>BSN</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    @foreach (var employee in Model)
    {
        <tr onmouseover="this.style.backgroundColor='#ffff66';" 
            onmouseout="this.style.backgroundColor='#d4e3e5';" 
            onclick="location.href = '@(Url.Action("Employee", "Home", new { userId = employee.IdEmployee }))'">
            <td>@employee.IdEmployee</td>
            <td>@employee.Bsn</td>
            <td>@employee.Name</td>
            <td>@employee.Surname</td>
        </tr>
    }
</table>