@using Dev_Assignment1.Models
@model Employee
@{
    ViewData["Title"] = "Employee info";
}

<h2>@ViewData["Title"].</h2>

<h3>@Model.IdEmployee</h3>

<h3>@Model.Adresslist.ToString()</h3>

<h3>@Model.Bsn</h3>

<h3>@Model.DegreeList.ToString()</h3>

<h3>@Model.Name</h3>

<h3>@Model.PositionList.ToString()</h3>

<h3>@Model.Surname</h3>
